html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.greyBackground {
    background: rgb(204, 204, 204);
}

.body {
    color: rgb(245, 237, 237);
    margin: 0;
}

.main {
    padding: 50px 20px 100px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: black;
}

.container {
    padding: 0 20px;
    max-width: 850px;
    margin: 0 auto;
}