.navigation__list {
    border-bottom: 1px solid rgba(17, 17, 17, 0.555);
    text-align: left;
    text-decoration: none;
    list-style: none;
    padding: 20px 20px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.navigation__item {
    font-size: 18px;
    padding: 10px 10px;
    margin: 10px 5px 10px 5px;
    margin: 0 auto;
}

.navigation__link {
    color: rgb(41, 41, 46);
    text-decoration: none;
}

.navigation__link:visited {
    color: rgb(41, 41, 46);
}

.navigation__link:focus {
    outline: 1px solid rgb(41, 41, 46);
}

.navigation__link:hover {
    color: rgb(114, 114, 114);
    border-bottom: 1px solid;
}

.navigation__link:active {
    color: rgb(0, 8, 126);

}